html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.header {
    background-color: #5A694A;
    color: white;
    padding: 1rem 0;
}


.btn-success {
    background-color: #5A694A !important;
    border-color: #5A694A !important;
}

.btn-success:hover {
    background-color: #4A593A !important;
    border-color: #4A593A !important;
}

.btn-outline-success {
    color: #5A694A !important;
    border-color: #5A694A !important;
}

.btn-outline-success:hover {
    background-color: #5A694A !important;
    color: white !important;
    border-color: #5A694A !important;
}


.footer {
    background-color: #5A694A;
    color: white;
    padding: 1rem 0;
}