@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');


html, body {
    height: 100%;
    margin: 0;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.header {
    background-color: #5A694A;
    color: white;
    padding: 1rem 0;
}

.header a {
    text-decoration: none !important;
    color: inherit !important;
}

.header a:hover {
    text-decoration: none !important;
    color: inherit !important;
}


.btn-success {
    background-color: #5A694A !important;
    border-color: #5A694A !important;
}

.btn-success:hover {
    background-color: #4A593A !important;
    border-color: #4A593A !important;
}

.btn-outline-success {
    color: #5A694A !important;
    border-color: #5A694A !important;
}

.btn-outline-success:hover {
    background-color: #5A694A !important;
    color: white !important;
    border-color: #5A694A !important;
}

.card-img-top {
    object-fit: cover;
    max-height: 200px;
}


.footer {
    background-color: #5A694A;
    color: white;
    padding: 1rem 0;
}



#heroCarousel .carousel-inner,
#heroCarousel .carousel-item {
    border-radius: 30px;
    overflow: hidden;
}

#heroCarousel .carousel-item img {
    border-radius: 0;
    height: 450px;
    object-fit: cover;
    width: 100%;
}

